---
title: Travel and Transportation
slug: travel
layout: section
header: Travel and Transportation
---
<div class="col-lg-12">
    <div class="row justify-content-md-center">

        <div class="col-lg-8 col-md-10 col-sm-12 bhoechie-tab-container">
            <div class="row">
            <div class="col-lg-3 bhoechie-tab-menu">
                <div class="list-group">
                    {% for option in site.data.travel %}
                    <a href="#" class="list-group-item text-center {% if option.isactive %} active {% endif %}">
                        <i class="{{option.icon}}"></i>
                        <br/>{{option.title}}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-9  bhoechie-tab">
                <!-- Plane section -->
                {% for option in site.data.travel %}
                <div class="bhoechie-tab-content {% if option.isactive %} active {% endif %}">
                    <center>
                        {% if option.content %}
                        <h1 class="{{option.icon}}"></h1>
                        <h3 style="margin-top: 0;">{{option.title}}</h3>
                        <p>{{ option.content }}</p>
                        {% endif %} {% if option.page %} {% assign p = site.activities | where:"title", option.page | first %} {{ p.content }} {%
                        endif %}
                    </center>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
</div>