<div class="footer">
    <p>♥ from Kim and Bryan</p>

    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-108216867-1');
        ga('send', 'pageview');
    </script>

    <script src="/assets/javascripts/libraries/jquery-2.2.4.js"></script>
    <script src="/assets/javascripts/libraries/jquery.stellar.js"></script>
    <script src="/assets/javascripts/libraries/wow.js"></script>
    <script src="/assets/javascripts/libraries/jquery.scrollTo.js"></script>
    <script src="/assets/javascripts/libraries/noframework.waypoints.js"></script>
    <script src="/assets/javascripts/libraries/lodash.js"></script>
    <script src="/assets/javascripts/libraries/slick.min.js"></script>

    <script src="/assets/javascripts/libraries/bootstrap/affix.js"></script>
    <script src="/assets/javascripts/libraries/bootstrap/alert.js"></script>
    <script src="/assets/javascripts/libraries/bootstrap/dropdown.js"></script>
    <script src="/assets/javascripts/libraries/bootstrap/tooltip.js"></script>
    <script src="/assets/javascripts/libraries/bootstrap/modal.js"></script>
    <script src="/assets/javascripts/libraries/bootstrap/transition.js"></script>
    <script src="/assets/javascripts/libraries/bootstrap/button.js"></script>
    <script src="/assets/javascripts/libraries/bootstrap/popover.js"></script>
    <script src="/assets/javascripts/libraries/bootstrap/carousel.js"></script>
    <script src="/assets/javascripts/libraries/bootstrap/scrollspy.js"></script>
    <script src="/assets/javascripts/libraries/bootstrap/collapse.js"></script>
    <script src="/assets/javascripts/libraries/bootstrap/tab.js"></script>

    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCkJd4wwnJr1-KYHLFJU58ID2cM3evahcg&libraries=places"></script>

    <script src="/assets/javascripts/main.js"></script>
    <script src="/assets/javascripts/carousel.js"></script>
    <script src="/assets/javascripts/jquery.placepicker.min.js"></script>
    <script src="/assets/javascripts/travel.js"></script>


</div>