<div class="footer">
    <div id="smallDetector" class="d-sm-block d-md-none"></div>
    <p><span class="golden">♥</span> from Kim and Bryan</p>

    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-108216867-1');
        ga('send', 'pageview');
    </script>

    

    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCkJd4wwnJr1-KYHLFJU58ID2cM3evahcg&libraries=places"></script>
    {% asset main.js %}

</div>