<head>
    <meta charset="utf-8">
    <meta name="description" content="kimboff.com - The information website for guests at Kimberly Wagner and Bryan Leboff's Wedding.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="QxCOAhd72rrjdN3hINZsvdv7WVIhqmCl9FChg1q1XNw" />
    <title>Kimberly Wagner and Bryan Leboff - October 19, 2017 - Philadelphia, PA</title>
  
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{{ "styles/site.css" | relative_url }}">
  
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "Kimberly Wagner & Bryan Leboff Wedding",
        "startDate": "2018-10-19T17:00-05:00",
        "location": {
          "@type": "Place",
          "name": "Water Works",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "640 Water Works Drive",
            "addressLocality": "Philadelphia",
            "postalCode": "19130",
            "addressRegion": "PA",
            "addressCountry": "US"
          }
        },
        "image": [
          "http://res.cloudinary.com/dith5kqlb/image/upload/c_pad,h_250/v1514586926/Kimboff/carousel-2016-05-21.jpg",
          "http://res.cloudinary.com/dith5kqlb/image/upload/c_pad,h_250/v1514586926/Kimboff/carousel-2017-07-08.jpg",
          "http://res.cloudinary.com/dith5kqlb/image/upload/c_pad,h_250/v1514586926/Kimboff/carousel-2017-11-16.jpg"
         ],
        "description": "Kimberly Wagner and Bryan Leboff will be getting married at the Water Works in Philadelphia. Celebration to follow!",
        "endDate": "2018-10-19T23:00-05:00",
        "performer": {
          "@type": "PerformingGroup",
          "name": "Kimberly Wagner & Bryan Leboff"
        }
      }
      </script>
  </head>