
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* Space out content a bit */
  body {
    position: relative;  
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .marketing,
  .footer {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  /* Custom page header */
  .header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  /* Make the masthead heading the same height as the navigation */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
  
  /* Custom page footer */
  .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }
  
  /* Customize container */
  @media (min-width: 768px) {
    .container {
      max-width: 730px;
    }
  }
  .container-narrow > hr {
    margin: 30px 0;
  }
  
  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  .jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
  }
  
  /* Supporting marketing content */
  .marketing {
    margin: 40px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    /* Space out the masthead */
    .header {
      margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
  }
  .name-box{
    color: #ffffff;
    text-shadow: 2px 2px #000000;
  }
  .name-box-sm{
    background-image: url("//res.cloudinary.com/dith5kqlb/image/upload/h_300/v1514586745/Kimboff/us.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height:300px;
  }
  .water-box-sm{
    background-image: url("//res.cloudinary.com/dith5kqlb/image/upload/h_300/v1514586745/Kimboff/water-works.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height:300px;
  }
  .section {
    padding-top: 40px;
  }
  .section.soon{
    min-height:0px;
  }
  .fixed-nav {
    background-color: #ffffff;
    width: 100%;
  }
  
  .nav-wrapper {
    min-height:80px;
  }
  #nav {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
    text-transform: uppercase;
  }
  
  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  
  .fixed-nav.affix {
    left:0;
    top:0;
    padding: 20px;
    z-index: 1000;
  }
  .directions{
    width:100%;
    height:400px;
  }
  .registry {
    background: #ffffff;
    padding: 10px;
  }
  .registry-card{
    box-shadow: 0 10px 5px #888888;
    text-align: center; margin: 1em 0;
    // height: 400px;
  
    transition: 0.3s;
  }
  .registry-card:hover{
    box-shadow: 0 20px 16px 0 #888888
  }
  .registry-card .registry-img{
    margin: 0 auto;
    vertical-align: middle;
    max-height: 400px;
    max-width: 80%;
    vertical-align: middle;
  }
  
  .card-helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .col-centered{
    float: none;
    margin: 0 auto;
  }
  .destination .list-group-item{
    float:left;
  }
  .directions{
    padding-top: 15px;
    display:none;
  }
  .carousel-thumbnail{
    padding: 20px;
  }
  