  .name-box{
    color: #ffffff;
    text-shadow: 2px 2px #000000;
  }

  .section{
    margin-bottom: 40px;
  }

  .fixed-nav {
    background-color: #ffffff;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1000;
  }
  
  #nav {
    text-transform: uppercase;
    font-family: $font-family-sans-serif;
  }
  .main{
    overflow: hidden;
  }
  
  .directions{
    padding-top: 15px;
    min-height: 100px;
    display:none;
  }
  .carousel-thumbnail{
    padding: 20px;
  }
  .thin.card{
    background: rgba(255, 255, 255, .8);
  }
  .thin.card .card-header{
    background-color: inherit;
  }

  .golden {
    color: $gold;
  }
  .registry-card .card-img-top {
    // max-width: 240px;
  }