$parallax-size: 760px;


.parallax {
	min-height: $parallax-size;
    background: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
}

.parallax.us{
    background-image: url("//res.cloudinary.com/dith5kqlb/image/upload/w_1400,q_auto/v1514586745/Kimboff/us.jpg");
}

.parallax.waterworks{
    background-image: url("//res.cloudinary.com/dith5kqlb/image/upload/w_1400,q_auto/v1514586745/Kimboff/water-works.jpg");
}
.parallax.logan{
    background-image: url("//res.cloudinary.com/dith5kqlb/image/upload/w_1400,q_auto/v1514586745/Kimboff/logan.jpg");
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .parallax{
        min-height: $parallax-size/2;
    }   
    .parallax.us{
        background-image: url("//res.cloudinary.com/dith5kqlb/image/upload/w_700,q_auto/v1514586745/Kimboff/us.jpg");
    }
    
    .parallax.waterworks{
        background-image: url("//res.cloudinary.com/dith5kqlb/image/upload/w_700,q_auto/v1514586745/Kimboff/water-works.jpg");
    }
    .parallax.logan{
        background-image: url("//res.cloudinary.com/dith5kqlb/image/upload/w_700,q_auto/v1514586745/Kimboff/logan.jpg");
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }